.navbarSideSection {
    position: absolute;
    top: 100%;
    right: 0;
    min-height: 0rem;
    width: 100%;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background-color: #3686FF;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbarDeployable {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition:
        max-height 0.4s ease,
        padding 0.3s ease,
        opacity 0.2s ease;
    opacity: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.navbarSideSection.open .navbarDeployable {
    max-height: 12rem;
    width: 100%;
    border-radius: 1rem;
    opacity: 1;
    background-color: #4e95ff;
    padding: 0.5rem;
}

.navbarSideSection.open {
    padding: 0rem 1rem 1rem 1rem;
}
