.navbarSideSection {
    position: absolute;
    right: 0;
    min-height: 3.5rem;
    width: 20rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbarDeployable {
    width: 16rem;
    max-height: 0;
    overflow: hidden;
    transition:
        max-height 0.4s ease,
        padding 0.3s ease,
        opacity 0.2s ease;
    opacity: 0;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.navbarSideSection.open .navbarDeployable {
    max-height: 12rem;
    width: 100%;
    opacity: 1;
    padding: 1rem 0rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #737373;
}
