.note {
    position: relative;
    width: 100%;
    padding: 1rem;
    margin-bottom: 0.25rem;
    border-radius: 1.25rem;
    transition: border-radius 0.2s ease;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.descriptionHidden {
    position: absolute;
    left: 0;
    top: 80%;

    width: 100%;
    max-height: 0;
    padding: 0.5rem;
    background-color: white;
    border-bottom-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    overflow: hidden;
    transition:
        max-height 0.3s ease,
        opacity 0.2s ease;
    opacity: 0;
    z-index: 10;
}
.dark .descriptionHidden {
    background-color: var(--color-secondary-dark);
    color: white;
}

.note:hover .descriptionHidden {
    max-height: 68px;
    opacity: 1;
}

.note:hover {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
