.note {
    width: 100%;
    padding: 1rem 1rem 0rem 1rem;
    margin-bottom: 0.25rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptionHidden {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition:
        max-height 0.4s ease,
        padding 0.3s ease,
        opacity 0.2s ease;
    opacity: 0;
}

.note.open .descriptionHidden {
  max-height: 2rem; 
  opacity: 1;
}