.note {
    width: 100%;
    padding: 1rem;
    margin-bottom: 0.25rem;
    border-radius: 1.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.descriptionHidden {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition:
        max-height 0.3s ease,
        opacity 0.2s ease;
    opacity: 0;
}

.note:hover .descriptionHidden {
    max-height: 60px;
    opacity: 1;
}
