@import "tailwindcss";
@source "./index.html";
@source "./src/**/*.{js,ts,jsx,tsx}";

html {
  margin: 0;
  padding: 0;
  font-family: "SNPro";
  font-size: 17px;
}

html, body, #root {
  height: 100%;
}

body {
  min-height: 100vh;
  width: 100%;
}

input, textarea:focus, select {
  outline: none;
}

textarea {
  padding: 0.2rem 0.5rem;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #4272b9;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* css variables */


/* Tailwind my colors */
@theme {
  --color-background: #b5cff5;
  --color-secondary: #dbeafe;
  --color-primary: #3686FF;
  --color-accent: #1447e6cc;
  --color-background-dark: #2e315e;
  --color-secondary-dark: #5462a1;
  --color-primary-dark: #1463da;
  --color-accent-dark: #031c66e0;
}

/* tailwind class */
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-ExtraLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
  
@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
  
@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
  
@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
  
@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
  
@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
