@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(163, 188, 226);
}

input, textarea:focus {
  outline: none;
}

textarea {
  padding: 0.2rem 0.5rem;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #727272;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}